@model User

@{
    ViewData["Title"] = "従業員管理";
}

<div class="max-w-4xl mx-auto">
    <h4>従業員削除 確認</h4>
    <form asp-action="Delete" method="post">
        <input asp-for="Id" type="hidden" />
        <dl class="row mt-5">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LoginId)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.LoginId)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">実行する</button>
            </div>
        </dl>

    </form>
</div>
