@model Car

@{
    ViewData["Title"] = "車輌管理";
}

<div class="max-w-4xl mx-auto">
    <h4>クラス削除 確認</h4>
    <form asp-action="Delete" method="post">
        <input asp-for="Id" type="hidden" />
        <dl class="row mt-5">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CarClass)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CarClass.Name)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CarType)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CarType.Name)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CarNumber)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CarNumber)</dd>
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">実行する</button>
            </div>
        </dl>

    </form>
</div>
